body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%)),
    linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  background-blend-mode: overlay;
  min-height: 100vh;
}

.DesaturatedRed {
  color: hsl(0, 36%, 70%);
}

.SoftRed {
  color: hsl(0, 93%, 68%);
}

.DarkGrayishRed {
  color: hsl(0, 6%, 24%);
}

.heading-main {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.heading-subtitle {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-top: -10px;
}

.description-text {
  font-weight: 600;
  margin: 20px 0;
  line-height: 1.8;
}

.logo {
  width: 150px;
  margin: 40px 20px;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
}

.left {
  flex: 1;
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 95px; 
  font-size: 16px;

}

.left h1{
    font-size: 35px;
}
.right {
  flex: 1;
}

.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.email-form {
  display: flex;
  margin-top: 12px;
  border: 1px solid hsl(0, 36%, 70%);
  border-radius: 25px;
  overflow: hidden;
}

.email-form input {
  flex: 1;
  padding: 12px 15px;
  border: none;
  font-family: inherit;
  font-size: 16px;
  color: hsl(0, 6%, 24%);
}

.email-form img {
  background-color: hsl(0, 36%, 70%);
  color: white;
  border-radius: 20px;
  padding: 12px 40px;
  cursor: pointer;
  font-size: 18px;
}

@media (min-width: 769px) {
  body {
    overflow-y: hidden;

    background-image: url("./images/bg-pattern-desktop.svg"),
      linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%)),
      linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  }
  .logo {
    position: absolute;
    top: 40px;
    left: 60px;
    bottom: 10px;
    width: 150px;
    z-index: 10;
  }

  .left {
    padding: 0 210px 210px 80px;
    position: relative;
  }
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left {
    order: 2;
    padding: 20px 15px;
    align-items: center;
  }
  .description-text {
    margin-left: 25px;
    text-align: center;
  }
  .right {

    order: 1;
  }

  .logo {
    margin: 45px;
    position: static;

  }

  .email-form {
    display: flex;
    margin-top: 7px;
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 25px;
    overflow: hidden;
  }
  
  .email-form input {
    flex: 1;
    padding: 2px 15px;
    border: none;
    font-family: inherit;
    font-size: 16px;
    color: hsl(0, 6%, 24%);
  }
  
  .email-form img {
    background-color: hsl(0, 36%, 70%);
    color: white;
    border-radius: 20px;
    padding: 12px 25px;
    cursor: pointer;
    font-size: 18px;
  }
}


